
<mat-sidenav-container class="app-container" *ngIf="(uiStateStore.uiState$ | async) as uiState">
  <mat-sidenav fixedInViewport="'true'" fixedTopGap="64" position="end" mode="side" [opened]="uiState.isSelected">
    <div class="secondary-toolbar secondary-toolbar-sidenav">
      <mat-toolbar>
        <mat-icon class="close-icon" (click)="onSidenavClose()" color="primary">close</mat-icon>
        <span class="title-bar-text">View/Edit Movie</span>
      </mat-toolbar>
    </div>
    <mat-card class="no-shadow">
      <mat-card-content>
        <app-movie-panel [editData]="editMovie"></app-movie-panel>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <div class="container" *ngIf="(uiStateStore.routeQueryParams$ | async) as params">
    <div *ngIf="(moviesStore.movies | async) as movies">
      <app-movies
        [movies]="movies"
        [displayedColumns]="displayedColumns"
        [loading]="uiState.actionOngoing"
        [selected]="params.params.selected"
        (selectMovie)="select($event)">
      </app-movies>
      {{ uiState | json }}
    </div>
  </div>
</mat-sidenav-container>