html, .mat-drawer-container { background: #F5F5F5; }
body { margin: 0; }
.app-container { padding: 0.1px; }
.container {
  margin: 20px 40px;
}
.container:before, .container:after{
  content: ' ';
  display: table;
}
.loading {
  opacity: 0.4;
}
.obs-input {
  margin-top: 30px;
  margin-right: 24px;
}
.mat-form-field-appearance-outline .mat-form-field-infix,
.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 4px 0 9px 0;
  font-size: 14px;
}
.mat-row:hover.selected, .mat-row.selected {
  background: rgba(0, 255, 213, 0.1);
}
.mat-drawer {
  width: 400px;
  border-left: 1px solid rgba(0,0,0,.2);
}
.mat-drawer > div {
  padding: 40px;
}
.mat-drawer > div:first-of-type {
  padding: 0;
}
.panel-icon {
  width: 36px;
}
.panel-icon .mat-icon {
  font-size: 36px;
}
.panel-heading {
  font-size: 18px;
  margin: 0;
  font-family: 'Sunflower', "Helvetica Neue", sans-serif;
}
.mat-row:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.secondary-toolbar .mat-toolbar .mat-icon.close-icon {
  font-size: 28px;
  margin: -1px 12px 0 0;
  width: 28px;
}
.close-icon:hover {
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  font-family: 'Sunflower', "Helvetica Neue", sans-serif;
}
.header > div {
  margin: 0 24px;
  width: 100%;
}
.header > div mat-icon {
  color: rgba(255,255,255,.6);
}
.header .mat-button {
  margin-right: 25px;
}
nav ul {
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
  font-family: 'Sunflower', "Helvetica Neue", sans-serif;
}
nav li {
  font-size: 14px;
  font-weight: 300;
}
nav ul a {
  color: rgba(255,255,255,.6);
  text-decoration: none;
  margin: 0 0 0 40px;
}
nav ul li a {
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav a:hover, nav .active {
  color: white;
}
.exit-icon {
  margin-left: 10px;
}
.exit-icon:hover {
  cursor: pointer;
}
.global-search {
  width: 300px;
  background: rgba(255,255,255,.75);
  box-shadow: none;
  border: none;
  height: 17px;
  padding: 3px;
  border-radius: 2px;
  outline: none;
}
.global-search:focus {
  background: white;
}
.loader {
  height: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 3;
}
.secondary-toolbar {
  margin-top: 64px;
}
.secondary-toolbar .mat-toolbar {
  background: #E0E0E0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-family: 'Sunflower', "Helvetica Neue", sans-serif;
}
.secondary-toolbar .mat-toolbar > div {
  margin-left: 24px;
}
.secondary-toolbar .mat-toolbar > div .mat-icon {
  padding-right: 20px;
  font-size: 36px;
}
.title-bar-text {
  text-transform: capitalize;
}
.title-bar-icon {
  margin-top: -2px;
}
.secondary-toolbar.secondary-toolbar-sidenav {
  margin-top: 0;
  padding: 0;
}
.ckbx-outline {
  color: #ccc;
}
.current-user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid rgba(255,255,255,.75);
  margin-right: 10px;
}
.none-found-container {
  padding: 40px;
}
.none-found-container .mat-icon {
  margin-right: 5px;
}
.none-found-container h3 {
  margin-left: 5px;
}
.mat-column-checkbox,
.mat-column-rating {
  max-width: 60px;
}